apiVersion: apps/v1
kind: Deployment
metadata:
  name: book-review-backend
  namespace: book-review-dev
  labels:
    app: book-review
    component: backend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: book-review
      component: backend
  template:
    metadata:
      labels:
        app: book-review
        component: backend
    spec:
      terminationGracePeriodSeconds: 30
      containers:
        - name: backend
          image: cloudprojdevacr01b0dd.azurecr.io/book-review-backend:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 3001
              name: http

          env:
            - name: DB_HOST
              valueFrom:
                configMapKeyRef:
                  name: book-review-config
                  key: database_host
            - name: DB_PORT
              valueFrom:
                configMapKeyRef:
                  name: book-review-config
                  key: database_port
            - name: DB_NAME
              valueFrom:
                configMapKeyRef:
                  name: book-review-config
                  key: database_name
            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  name: book-review-secrets
                  key: database_user
            - name: DB_PASS
              valueFrom:
                secretKeyRef:
                  name: book-review-secrets
                  key: database_password
            - name: JWT_SECRET
              valueFrom:
                secretKeyRef:
                  name: book-review-secrets
                  key: jwt_secret
            - name: PORT
              value: "3001"
            - name: DB_DIALECT
              value: "mysql"
            - name: NODE_ENV
              value: "production"
            - name: ALLOWED_ORIGINS
              valueFrom:
                configMapKeyRef:
                  name: book-review-config
                  key: allowed_origins

          resources:
            requests:
              memory: "256Mi"
              cpu: "250m"
            limits:
              memory: "512Mi"
              cpu: "500m"

          startupProbe:
            httpGet:
              path: /
              port: 3001
            failureThreshold: 30
            periodSeconds: 10

          readinessProbe:
            httpGet:
              path: /
              port: 3001
            initialDelaySeconds: 60
            periodSeconds: 10
            timeoutSeconds: 10
            failureThreshold: 6


          livenessProbe:
            httpGet:
              path: /
              port: 3001
            initialDelaySeconds: 30
            periodSeconds: 20
            timeoutSeconds: 10
            failureThreshold: 6

          lifecycle:
            preStop:
              exec:
                command: ["sh", "-c", "sleep 10"]
