apiVersion: apps/v1
kind: Deployment
metadata:
  name: book-review-frontend
  namespace: book-review-dev
  labels:
    app: book-review
    component: frontend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: book-review
      component: frontend
  template:
    metadata:
      labels:
        app: book-review
        component: frontend
    spec:
      terminationGracePeriodSeconds: 30
      containers:
        - name: frontend
          image: cloudprojdevacr01b0dd.azurecr.io/book-review-frontend:latest
          imagePullPolicy: IfNotPresent

          ports:
            - containerPort: 3000
              name: http

          env:
            - name: NODE_ENV
              value: "production"
            - name: NEXT_PUBLIC_API_URL
              value: "http://app.berryexcel.online"

          resources:
            requests:
              memory: "256Mi"
              cpu: "200m"
            limits:
              memory: "512Mi"
              cpu: "500m"

          startupProbe:
            tcpSocket:
              port: 3000
            failureThreshold: 60
            periodSeconds: 10

          readinessProbe:
            httpGet:
              path: /
              port: 3000
            initialDelaySeconds: 30
            periodSeconds: 10

          livenessProbe:
            httpGet:
              path: /
              port: 3000
            initialDelaySeconds: 60
            periodSeconds: 20


          lifecycle:
            preStop:
              exec:
                command: ["sh", "-c", "sleep 10"]
